*.swp
*~
*.pyc
*.pdf
*.aux
*.log
*.synctex.gz
*.toc
*.out
*.nav
*.snm
*.jpg
*.zip
images/BBB
images/Images
images/Infos
images/licenseplates
chars
learning_set
test_set
classifier
classifier-model
classifier-characters
